@keyframes example {
    from {
        transform: rotateX('-30deg');}
    to {
        transform: rotateX('0deg');
    }
  }
  
  /* The element to apply the animation to */
  .transition {
    /* width: 100px;
    height: 100px; */
    /* background-color: red; */
    animation-name: example;
    animation-duration: 7s;
  }
  